/* Full-screen view */
@media all and (min-width: 1055px) {
    #sidebar {
        flex: 2;
    }
}

/* Mobile-size viewports */
@media all and (max-width: 768px) {
    #central {
        flex-direction: column;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .column img:hover {
        max-width: 70%;
    }

    /* Navigation */
    nav {
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10px;
    }

    /* Blog articles */
    .blog-image-1 {
        float: initial;
        width: 95%;
        max-width: none;
    }

    .blog-image-2 {
        float: initial;
        width: 95%;
        max-width: none;
    }

    #infos {
        flex-direction: row;
        align-items: baseline;
    }

    .input-field {
        padding: 10px 20px;
        display: grid;
        flex-direction: unset;
        justify-content: unset;
    }

    #media-container {
        flex-direction: row;
    }

    .media-link {
        visibility: hidden;
    }
}

