extends layout

block content
    h1 About 
    p I am graduated in Video Post-Production and Computer Science. I'd like to enter the developing game world to combine my two formations. Those who know me well know that I am thoughtful, sensitive, and stubborn.
    form(class="back" method="GET" action="/")
        input(class="image_edit_button" type="submit" value="Back")